<!doctype html> {% verbatim %}

<html ng-app="bachelor">
{% endverbatim %}

<head>
    <title>Codeforces</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.all.min.js "></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% load staticfiles %}
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/controllers/mainController.js "></script>
    <script src="/static/controllers/UserController.js "></script>
    <script src="/static/controllers/RecommenderController.js "></script>
    <script src="/static/services/general.js "></script>
    <script src="/static/services/users.js "></script>
    <script src="/static/services/scrapinghub.js "></script>
    <script src="/static/directives/fileModel.js "></script>
    <link href="/static/css/lumen.css " rel="stylesheet ">
    <link href="/static/css/bachelor.css " rel="stylesheet ">
</head>

{% verbatim %}

<body ng-controller="mainController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#/">Codeforces Recommender</a>
        <button class="navbar-toggler" type="button" ng-click="toggleNavBar();" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#/recommendations">Recommendations</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li> -->
            </ul>

            <ul class="navbar-nav" ng-show="!userStatus">
                <li class="nav-item">
                    <a class="nav-link" href="/#/signin">Sign IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link highlighted" href="/#/signup">Sign UP!</a>
                </li>
            </ul>

            <ul class="navbar-nav" ng-show="userStatus">
                <li class="nav-item">
                    <a class="nav-link" href="/#/me/">{{current_username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline" href="" ng-click="logout()">Logout</a>
                </li>
            </ul>

            <!-- <form class="form-inline my-2">
                <input class="form-control mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <div id="overlay" ng-click="overlay();">
        <div class="loader"></div>
    </div>
    <div class="jumbotron">
        <div class="container" ng-view></div>
    </div>

</body>

</html>
{% endverbatim %}