<!doctype html>
<form method="post" name="userForm" ng-submit="register(userForm.$valid)">
    <fieldset>
        <legend>Sign Up</legend>
        <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" ng-model="user.username" placeholder="mohabamroo" type="text" required>
            <small id="emailHelp" class="form-text text-muted">It must match your codeforces username.</small>
        </div>
        <div class="form-group">
            <label for="exampleEmail1">Email</label>
            <input class="form-control" id="exampleEmail1" aria-describedby="emailHelp" ng-model="user.email" placeholder="mohabamr1@gmail.com" type="email" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" placeholder="*******" ng-model="user.password" type="password" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
    </fieldset>
</form>